.html{
    display: flex;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

body {
    background-color: purple;
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.brand {
    display: flex;
    align-items: center;
}


li>a {
    padding: 8px 24px;
}


li {
    list-style-type: none;
}


a {
    color: white;
    text-decoration: none;
}


.nav-links {
    display: flex;
    align-items: center;
}


.button-menu-toggle {
    display: none;
}
@media (max-width: 768px) {
    .column {
        flex: 100%;
    }


    .nav-links {
        display: none;
    }


    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;


    }
}
.fotos{
    flex-direction: row;

}
img{
    
    border: solid yellow;
    margin: 10px;
    width: 350px;
        height: 200px;
}
.greeting{
    text-align: center;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;}
    /*margin: 20px 300px 20px 70px;
    background-color: yellow;
    border: 1px solid black
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 20px 20px 20px 1050px;
    background-color: yellow;
    border: 1px solid black
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 200px 100px;
    background-color: yellow;
    border: 1px dashed black
}*/